@import "assets/less/partials/mixins";
@import "assets/less/partials/fonts";
@import "assets/less/partials/header";
@import "assets/less/partials/footer";
html body {
    background-color: #212121;
    color: #FEF0E5;
    font-size: 16px;
}

.postBody,
.postBody-2 {
    word-wrap: break-word;
}

@media (min-width:800px) {
    .window-name {
        padding-left: 2em;
    }
}

.toggle {
    float: right;
    margin-top: -2em;
    &:focus {
        color: #cfd41d;
    }
    @media (max-width:400px) {
        &{
        	display: none;
        }
    }
}

input[type="checkbox"]:checked {
    & + .postBody {
        display: none;
    }
    & ~ .postBody-2 {
        display: block;
    }
}

input[type="checkbox"]:not(:checked) {
    & + .postBody {
        display: block;
    }
    & ~ .postBody-2 {
        display: none;
    }
}
